JWT_SECRET=test-dev-secret-change-in-production
DB_URL=postgresql://postgres:postgres@path-to-your-database:port/database_name
PAYSTACK_SECRET_KEY=sk_test_your_paystack_secret_key
PAYSTACK_CURRENCY=GHS
PAYSTACK_CALLBACK_URL=

SMTP_HOST=smtp.example.com
SMTP_PORT=port
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_EMAIL=no-reply@email.com
SMTP_FROM_NAME=name
SMTP_SSL=false
SMTP_ALLOW_INSECURE=false
PASSWORD_RESET_URL=
SEND_PASSWORD_RESET_EMAIL=true
RETURN_PASSWORD_RESET_TOKEN=false
